.pokemonCard {
  text-align: center;
  width: 90px;
  height: 140px;
  background-color: #f1f1f15b;
  margin: 0 10px 10px 10px;

  box-shadow:
    0 0 0 1px red,
    5px 5px #888888;
  ;


  cursor: pointer;
}
