<div></div>

<div class="divComponent">
  <div class="divList">
    <mat-card>
      <div class="divContainer">

        <div class="divBox">

          <span class="title">Jogos</span>

          <mat-form-field class="select" appearance="fill">
            <mat-label>Selecione um jogo</mat-label>
            <mat-select [(value)]="selectedGameVersionUrl"
              (selectionChange)="getRegionsByVersion()">
              <mat-option *ngFor="let game of gamesVersionByFromGeneration"
                value="{{game.url}}">{{game.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="divBox" *ngIf="gameVersion && selectedPokedex">

          <span class="title">Regiões</span>

            <mat-form-field class="select" appearance="fill">
              <mat-label>Selecione uma Região</mat-label>
              <mat-select [(value)]="selectedRegionUrl"
                (selectionChange)="getRegion()">
                <mat-option *ngFor="let pokedex of gameVersion.pokedexes"
                  value="{{pokedex.url}}">{{pokedex.name}}</mat-option>
              </mat-select>
            </mat-form-field>

        </div>

      </div>

      <div>
        <div *ngIf="gameVersion">
          <span class="versionName">Versão selecionada: {{gameVersion.name}}</span>
        </div>

        <div *ngIf="selectedPokedex">
          <span class="versionName">Região selecionada: {{selectedRegion.name}}</span>
        </div>
      </div>

    </mat-card>

  </div>

  <div class="divPokedex">
    <mat-card *ngIf="selectedPokedex" class="cardPokemonContainer" class="cardPokemonsContainer">

      <div class="searchBox">
        <mat-form-field *ngIf="selectedPokedex && selectedPokedex.pokemons" appearance="outline"
          [hideRequiredMarker]="true">
          <mat-label>Pesquisar</mat-label>
          <input matInput type="text" placeholder="Nome"
            (keyup)="debounce.next($event.target.value)" [(ngModel)]="searchName">

          <button *ngIf="searchName"
            mat-button matSuffix mat-icon-button aria-label="Clear"
              (click)="handleBackList()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="cardPokemons">
        <span *ngIf="!selectedPokedex.pokemons">Pokedex Vazia !!</span>

        <div *ngFor="let pokemon of selectedPokedex.pokemons">
          <pokemon-card [pokemon]="pokemon" [openDialog]="openDialog"></pokemon-card>
        </div>
      </div>

    </mat-card>

    <button *ngIf="searchEnable"
      class="buttonShowAll"
      mat-button (click)="handleBackList()">
      Exibir Todos
    </button>
  </div>
</div>
