<div class="divComponent">
  <div class="divList">
    <mat-card>
      <div class="divContainer">

        <div>
          <span class="title">Jogos</span>

          <mat-form-field class="select" appearance="fill">
            <mat-label>Selecione um jogo</mat-label>
            <mat-select [(value)]="selectedGameVersionUrl"
              (selectionChange)="getRegionsByVersion()">
              <mat-option *ngFor="let game of gamesVersionByFromGeneration"
                value="{{game.url}}">{{game.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <div *ngIf="gameVersion">
              <span class="versionName">Versão selecionada: {{gameVersion.name}}</span>
            </div>

            <div *ngIf="selectedPokedex">
              <span class="versionName">Região selecionada: {{selectedRegion.name}}</span>
            </div>
          </div>
        </div>

        <div style="margin-left: 15px;">
          <div *ngIf="gameVersion && selectedPokedex">

            <span class="title">Regiões</span>

            <mat-form-field class="select" appearance="fill">
              <mat-label>Selecione um jogo</mat-label>
              <mat-select [(value)]="selectedRegionUrl"
                (selectionChange)="getRegion()">
                <mat-option *ngFor="let pokedex of gameVersion.pokedexes"
                  value="{{pokedex.url}}">{{pokedex.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

      </div>

    </mat-card>
  </div>

  <div class="divPokedex">
      <mat-card *ngIf="selectedPokedex" class="cardPokemons">
          <span *ngIf="selectedPokedex.length == 0">Pokedex Vazia !!</span>
          <mat-card class="pokemonCard"
              *ngFor="let pokemon of selectedPokedex.pokemons" (click)="openDialog(pokemon.pokeindex)">
              <div class=""><span style="width: 0%;">#{{pokemon.pokeindex}}</span></div>
              <img class="" src="{{pokemon.image}}">
              <span class="">{{pokemon.pokemon_species.name}}</span>
          </mat-card>
      </mat-card>
  </div>
</div>
