p {
  font-size: 14px;
}

.divComponente{
  background-color: #f1f1f15b;
  border-radius: 10px;
}

.divContainer {
  display: flex;
  flex-direction: column;
}

.divHeader {
  flex: 1;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.divPokemon {
  flex: 1;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.divImg {
  width: 130px;
  height: 130px;
}

.title {
  margin-right: 10px;
  font-size: 18px;
}

.spanTypes {
  margin-left: 5px;
}

.divStatus{
  width: 300px;
  align-self: center;
}
.divStatusInfo{
  width: 50%;
  align-self: center;
  margin-right: 10px;
}
