<div *ngIf="pokemon" class="divComponente" >
  <div style="padding: 10px;"
    class="divContainer" [ngClass]="pokemon.types[0].type.name">

      <div class="divHeader">
        <div>
          <span class="title">#{{pokemon.id}}</span>
          <span class="title">{{pokemon.name}}</span>
        </div>

        <div *ngFor="let type of pokemon.types">
          <span class="title spanTypes" [ngClass]="type.type.name">{{type.type.name}}</span>
        </div>
      </div>

      <p>*Passe o mouse no Pokemon para ver sua forma shiny</p>


      <div class="divPokemon">

        <div class="divImg">
            <img width="100%" src="{{pokemon.sprites.front_default}}"
            shinyPkmOnHover normal="{{pokemon.sprites.front_default}}"
            shiny="{{pokemon.sprites.front_shiny}}">
        </div>
        <div class="divStatus">
          <span style="font-weight: bold;">Habilidades:</span>
          <div class="divStatusInfo">
              <div *ngFor="let ability of pokemon.abilities" class="divFlexSpace">
                  <span>{{ability.ability.name}} </span>
              </div>
          </div>
        </div>

      </div>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</div>
